In [60]:
import os
import pandas as pd

data_path = "../../../Data/campaign files" #path where raw data is stored
store_path = "data/campaign files/" #path where processed data is stored
files = os.listdir(data_path) #get list of all raw data files from where they are stored
files

['report-EMAIL_SEND - 1st January to 31st May.csv',
 'report-EMAIL_SEND - 1st June to 31st August.csv',
 'report-SMS_SEND - 1st January to 31st May.csv',
 'report-SMS_SEND - 1st June to 31st August.csv',
 'report-WEB_PUSH_SEND - 1st January to 31st May.csv',
 'report-WEB_PUSH_SEND - 1st June to 31st August.csv']

In [61]:
report_type = [file.split()[0] for file in files] #extract report type from file name
report_type = set(report_type) #find unique report types
report_type

{'report-EMAIL_SEND', 'report-SMS_SEND', 'report-WEB_PUSH_SEND'}

In [63]:
for report in report_type:
    
    report_df = pd.DataFrame() #Create new dataframe to store results
    
    rel_files = [file for file in files if report in file] #Get the relevant files for that report type
    
    flag = True #Set flag to know when running certain report type for first time
    for file in rel_files:
        temp = pd.read_csv(data_path+'/'+file, sep=";")
        if flag:
            report_df = temp
            flag = False
        else:
            report_df = pd.concat([report_df, temp], ignore_index=True)
            
    report_df.to_csv(store_path+report+'.csv') #Write combined files into a dataframe
    
print("Done!")

,send_name,delivery_date,camp_name,camp_type,tags,relayed_count,delivered_count,failed_count,expired_count,rejected_count,waiting_count,conversion,revenue,visit,total_bounce,delivery_ratio
0,Test SMS 1 - D·engage,22 February 2021 11:46,Test SMS 2 - D·engage,ONE_TIME,NaN,0,0,0,0,0,0,0,0.0,0,0,0.00
1,Test SMS 1 - D·engage,22 February 2021 12:26,Test SMS 3 - D·engage,ONE_TIME,NaN,1,0,0,0,0,0,0,0.0,0,0,0.00
2,Test SMS 1 - D·engage,22 February 2021 12:37,Test SMS 4 - D·engage,ONE_TIME,NaN,1,0,0,0,0,1,0,0.0,0,0,0.00
3,Test SMS 1 - D·engage,01 March 2021 11:41,Test SMS 3 - D·engagee,ONE_TIME,NaN,1,0,0,0,0,1,0,0.0,0,0,0.00
4,Test SMS 1 - D·engage,08 March 2021 09:17,Test SMS 5 - D·engage,ONE_TIME,NaN,1,0,0,0,0,1,0,0.0,0,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085,Abandoned Cart 2,31 August 2021 18:02,Abandoned cart,RECURRING,NaN,1,0,0,0,0,1,0,0.0,0,0,0.00
1086,Abandoned Cart 2,31 August 2021 19:02,Abandoned cart,RECURRING,NaN,1,0,0,0,0,1,0,0.0,0,0,0.00
1087,Coupon HTML 2,31 August 2021 19:02,Special Purchase with Coupon,RECURRING,NaN,7,4,0,0,0,3,0,0.0,1,0,57.14
1088,Abandoned Cart 2,31 August 2021 21:02,Abandoned cart,RECURRING,NaN,2,0,0,0,0,2,0,0.0,0,0,0.00
1089,Abandoned Cart 2,31 August 2021 22:02,Abandoned cart,RECURRING,NaN,2,0,0,0,0,2,0,0.0,0,0,0.00