### Tasks
1. For all products in the products dataset, make a table with the product and the number of orders(count number of occurences of that product id in the orders dataset).
2. Identify products not selling, and with low sales (two different tables).
3. Group the least selling products using category information, arrange from least selling category to highest. Also, do a little research on the tarfet ausience of these categories.
4. Create a table of the product categories and the target audience.
5. For each low selling product, check if they have been bought before.
6. Do a research on the accessibility of the pages of these low selling products.

In [69]:
import pandas as pd

path = './data/Order and Product data.xlsx'
order_data = pd.read_excel(path)
order_data['product_id'] = order_data['product_id'].apply(str)
order_data.head()

,Total cost,quantity,unit_price,order_id,product_id,product_variant_id,key,event_date,category_id,title,contact_key
0,185000,10,18500,68165,37273,0,edca2108-d6ec-462d-8fcd-eb7e495b9c79,2021-01-01 08:19:00,NaN,NaN,6693.0
1,10000,1,10000,68169,30352,30365,9a238b7c-2892-4bc7-9e41-2bc271303295,2021-01-01 14:38:00,880.0,Pig Catcher (Snare | Stainless Steel),10871.0
2,34500,3,11500,68170,18965,0,c80c281c-23cf-4daf-8a5c-f2a153b60ec9,2021-01-01 16:34:00,2622.0,Commercial Broilers Arbor Acres Plus (Amo Brand),1587.0
3,34500,3,11500,68173,18965,0,4e7e5615-3e5d-4106-a7cd-7d23d9de9d4d,2021-01-01 23:17:00,2622.0,Commercial Broilers Arbor Acres Plus (Amo Brand),1878.0
4,59000,4,14750,68174,16653,0,ca6cedbb-65e7-4ccc-a121-45aa77f9839f,2021-01-02 05:07:00,3570.0,Commercial Day Old Arbor Acres Plus Broilers C...,705.0

In [70]:
#Drop duplicate entries (Same order id, product id, and quantity)
print(len(order_data))
order_data = order_data.drop_duplicates(subset=['product_id', 'order_id', 'quantity'])
print(len(order_data))

3230
3197

In [71]:
path2 = './data/product/3cf8eb1b-a839-40fe-a37f-8d65e3f4a81d.csv'
products_data = pd.read_csv(path2)
products_data.head()

,product_id,discounted_price,description,brand_id,price,link,availability_date,stock_count,image_link,category_id,availability,title,insert_date
0,55823,53900.0,NaN,NaN,53900.0,https://www.afrimash.com/high-pressure-washer-...,NaN,0.0,https://www.afrimash.com/wp-content/uploads/20...,880,True,High Pressure Washer (Hot/Cold Water Cleaning ...,NaN
1,55799,42000.0,NaN,NaN,42000.0,https://www.afrimash.com/chicken-plucker-finge...,NaN,0.0,https://www.afrimash.com/wp-content/uploads/20...,880,True,Chicken Plucker Fingers (For De-feathering Mac...,NaN
2,55798,17750.0,NaN,5146,17750.0,https://www.afrimash.com/plastic-transport-cra...,NaN,0.0,https://www.afrimash.com/wp-content/uploads/20...,880,True,Plastic Transport Crate with Access Door (For ...,NaN
3,55771,9940.0,NaN,5052,9940.0,https://www.afrimash.com/aller-oreo-float-tila...,NaN,0.0,https://www.afrimash.com/wp-content/uploads/20...,4124,True,Aller Oreo Float Tilapia (Feed for Growers),NaN
4,55770,10250.0,NaN,5052,10250.0,https://www.afrimash.com/aller-sana-float-tila...,NaN,0.0,https://www.afrimash.com/wp-content/uploads/20...,4124,True,Aller Sana Float Tilapia (2mm Floating Feed),NaN

### TASK 1

In [72]:
ordered_products = order_data['product_id'].unique()

product_order_data = pd.DataFrame(columns=['product_id', 'product_name', 'category_id','no_orders'])
for product in ordered_products[:]:
    temp = order_data[order_data['product_id'] == product]
    no_orders = len(temp)
    product_name = temp['title'].to_list()[0]
    category = temp['category_id'].to_list()[0]
    product_order_data.loc[-1] = [product, product_name, category,no_orders]
    product_order_data.index += 1

all_products = products_data['product_id'].unique()
unordered_products = [product for product in all_products if product not in ordered_products]

for product in unordered_products[:]:
    temp = products_data[products_data['product_id'] == product]
    product_order_data.loc[-1] = [product, temp['title'].to_list()[0], temp['category_id'].to_list()[0],'0']
    product_order_data.index += 1

In [74]:
product_order_data.to_csv("Products and Order Frequency.csv")

### TASK 2

In [89]:
not_selling = product_order_data[product_order_data['no_orders'] == '0']
not_selling.to_csv("Products not Selling.csv")

low_orders = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
low_sales = product_order_data[product_order_data['no_orders'].isin(low_orders)]
low_sales.to_csv('Products with low Sales.csv')

### TASK 3

In [94]:
path3 = './data/category/41e426a4-af5a-4142-84d0-02f27baadc90.csv'
category_data = pd.read_csv(path3)

unique_categories = product_order_data['category_id'].unique()
len(unique_categories)

array([nan, 880.0, 2622.0, 3570.0, 2848.0, 3571.0, 4747.0, 2842.0, 4793.0,
       2849.0, 7203.0, 3364.0, 4019.0, 2701.0, 2630.0, 5134.0, 5154.0,
       5140.0, 5129.0, 2703.0, 6260.0, 4124.0, 5818.0, 3304.0, 4582.0,
       6501.0, 3050.0, 4574.0, 7001.0, 973.0, 2826.0, 4104.0, 876.0,
       8628.0, 2839.0, 5141.0, 3388.0, 3387.0, 4105.0, 2857.0, 2859.0,
       2564.0, 8077.0, 3034.0, 2850.0, 2840.0, 3455.0, 4839.0, 2841.0,
       2856.0, 2880.0, 8864.0, 5520.0, 5521.0, 2683.0, 2768.0, 3088.0,
       2852.0, 3564.0, '880', '4124', '2855', '2842', '2852', '2849',
       '2839', '2848',
       'Drip Hanger For Poultry Processing (200-250 Birds Capacity | 6x5x3ft)',
       '2826', '2840', '2701', '6298', '2630', '973', '2622', '3388',
       '2850', '2731', '3564', '4839', '2857', '4793', '4676', '4747',
       '4745', '2683', '2834', '876', '3050', '4574', '2856', '4104',
       '4105', '3455', '2841', '3034', '968', '2859', '4019', '2768',
       '5143', '2564', '5145', '5129', '5140', '5421', '5134', '5520',
       '5154', '2829', '5141', '5521', '5452', '4125', '6501', '3570',
       '2703', '8628', '4473', '3365', '2631', '5818', '6705', '4598',
       '2843', '3387', '3304', '4376', '7203', '8864', '8077', '2814'],
      dtype=object)

In [108]:
for pro_id in product_ids[:]:
    product_name = 'N/A'
    if str(pro_id) in all_ids:
        product_name = products[products['product_id']==str(pro_id)]['title'].to_list()[0]
    
    temp = order_data[order_data['product_id']==pro_id]
    count = len(temp)
    order_freq_data.loc[1] = [product_name, count]
    order_freq_data.index += 1
order_freq_data

                                               Product ordercount
562                                                N/A          7
561              Pig Catcher (Snare | Stainless Steel)          1
560   Commercial Broilers Arbor Acres Plus (Amo Brand)         97
559  Commercial Day Old Arbor Acres Plus Broilers C...         77
558        Day-Old AMO Pullets (ISA Brown | Pre-Order)         37
..                                                 ...        ...
6                                                  N/A          1
5    Restraining Cones for Slaughter of Birds (Stai...          1
4                                                  N/A          1
3    Debeaking Machine (For Poultry | Electric | 110V)          1
2                                                  N/A          1

[561 rows x 2 columns]

In [110]:
order_freq_data = order_freq_data.sort_values('ordercount')
order_freq_data

                                               Product ordercount
2                                                  N/A          1
54                                                 N/A          1
53                 NUFOTOX PRO (Mycotoxicosis Control)          1
50          Dwarf Coconut Seedlings (Malaysia Variety)          1
48                      Globadry (Litter Drying Agent)          1
..                                                 ...        ...
560   Commercial Broilers Arbor Acres Plus (Amo Brand)         97
549  Commercial Day-Old Kuroiler Chicks (Grinphield...        107
556       Commercial Day-Old Noiler Chicks (AMO Brand)        113
541                       AMO Noilers (Day-Old Chicks)        166
540         Agrited Ross 308 Broilers (Day-Old Chicks)        369

[561 rows x 2 columns]

In [111]:
order_freq_data.to_csv('product_order_frequency.csv')